.profile_card {
  border: 1px solid black;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 9px;
  transition: all 0.1s linear;
  text-align: center;
  margin: 10px 10px;
}

.profile_card:hover {
  border: 1px solid transparent;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.42);
}

.profile_picture > * {
  border-radius: 50%;
}

.profile_card_name {
  margin-bottom: 5px;
}

.profile_card_title {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.profile_card_links {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
