.container {
  width: 80%;
  margin: 0 auto;
}

.side_logo {
  height: 60px;
  width: 130px;
  position: relative;
  margin: 20px 0px;
}
.logo {
  height: 280px;
  position: relative;
  margin: 30px 0;
}

.hero_desc {
  color: #f74700;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 50px;
}

.desc {
  margin-bottom: 40px;
}

.button {
  background-color: #f74700;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  transition: 0.5s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #b53a25;
}

.center {
  display: block;
  margin: 0 auto;
}
